node_modules/
.env
data/
*.db
*.db-journal
discord-bot/node_modules/
discord-bot/data/
discord-bot/.env
discord-bot/lavalink/Lavalink.jar
discord-bot/lavalink/logs/
website/dist/
website/node_modules/
.DS_Store
